*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    height: calc(100vh - 80px);
}

/* sidebar */
.col-left{
    background-color: black;
    color: rgb(104, 104, 104);
    height: calc(100% - 80px);
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* logo */
.logo{
    position: relative;
    padding-right: 40px;
    margin: 20px 0;
}

.big{
    width: 150px;
}

.small {
    height: 25px;
    display: none;
}

/* lists */
ul{
    list-style-type: none;
    margin: 20px 0;
}

ul li{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul li img{
    margin-right: 5px;
}

ul.sidebar-nav img{
    width: 20px;
}

.new-playlist-icon{
    font-size: 30px;
    background-color: rgb(141, 141, 141);
    margin-right: 10px;
    padding: 0px 10px;
    font-weight: 900;
    color: black;
}

.playlist-title{
    font-size: 14px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

/* sidebar footer */
.sidebar-footer{
    margin-bottom: 10px;
}

.prof{
    margin-top: 10px;
    display: flex;
    color: white;
    font-weight: 600;
    align-items: center;
}

div.prof img{
    width: 25px;
    background-color: grey;
    border-radius: 100px;
    margin-right: 10px;
}

.install{
    padding-bottom: 10px;
    border-bottom: 1px grey solid;
    display: flex;
    align-items: center;
}

div.install img{
    width: 20px;
    margin-right: 5px;
}

/* main content */
.right-col{
    background-color: rgb(33, 33, 54);
    width: calc(100vw - 200px);
    height: 100%;
    padding-bottom: 20px;
    margin-left: 200px;
    overflow-y: scroll;
    color: white;
}

.btn-upgrade{
    background-color: rgb(0, 10, 22);
    display: flex;
    justify-content: flex-end;
}

div.btn-upgrade button{
    color: white;
    background-color: rgb(0, 10, 22);
    margin: 20px 3px;
    font-size: 13px;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
}

h2{
    margin-top: 40px;
}

/* navigation menu */
.nav-menu{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 12px;
    color: rgb(124, 124, 124);
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

div.nav-menu > div{
    margin: 0 15px;
}


/* recently played */
div.playlists > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
    width: calc(100% / 7);
}

div.playlists h4 {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.container{
    margin-left: 20px;
}

div.container p, footer p{
    color: grey;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.playlists{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
}

div.playlists img{
    margin-top: 30px;
    max-width: 100%;
}

/* popular artists */
div.artists img{
    border-radius: 100px;
}

/* footer */
footer{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(46, 46, 46);
    position: fixed;
    bottom: 0;
    justify-content: space-between;
}

/* current song */
.current-song{
    width: 20%;
    display: flex;
    color: white;
    align-items: center;
}

div.current-song :nth-child(2){
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.current-song p{
    margin-top: 0px;
    font-size: 5px;
}

div.current-song img{
    width: 50px;
    margin: 0 15px;
}

div.current-song i{
    display: block;
    color: grey;
    margin-left: 20px;
    margin-bottom: 5px;
}

/* player */
.player{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

div.player i{
    margin: 10px 10px;
}

.icons{
    display: flex;
    align-items: center;
}

div.player .play{
    font-size: 25px;
    margin: 10px 20px;
}

.bar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 15px;
}

div.bar :nth-child(2){
    width: 50%;
    height: 5px;
    background-color: grey;
    border-radius: 20px;
    margin: 0 20px;
}

/* options */
.options{
    width: 20%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    flex-direction: row;
}

.volume{
    width: 150px;
    height: 5px;
    background-color: grey;
    margin: 0 15px;
    border-radius: 20px;
}

div.options i{
    margin: 0 7px;
}


/* Media query tablet */
@media screen and (max-width: 991px){
    div.nav-menu{
        flex-wrap: wrap;
    }
    

    .playlists{
        width: 100%;

    }

    div.playlists > div{
        width: calc(100% /4.5);
    }

}

/* Media query small */
@media screen and (max-width: 767px){
    div.playlists > div{
        width: calc(100%/2.5);
    }

    div.current-song > :nth-child(2) {
        display: none;
    }
    
}

@media screen and (max-width: 575px){
    .new-playlist{
        display: none;
    }

    div.sidebar p{
        display: none;
    }

    .big{
        display: none;
    }

    .small{
        display: block;
        width: ;
    }

    .col-left{
        width: 50px;
    }

    .right-col{
        width: calc(100vw - 50px);
        margin-left: 50px;
    }

    ul li img {
        margin: 0;
    }

    ul li{
        width: 50px;
    }

    .sidebar-footer{
        width: 30px;
    }
}